/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    background: #253745;
}

/* Hero Section */
.hero {
    height: 100vh;
    width: 100%;
    
    background-size: cover;
    background-position: center;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10%;
    color: white;
    background-color: #23323e;
    border-bottom: 2px solid  black;
    
    
}

.logo {
    color: white;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
}

.logo span{
    color: gray;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #576e7d;
}

.icon a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s;
    margin: 10px;

}

.icon a:hover {
    color: #576e7d;
}

/* Landing Page Content */

.slider {
    
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    border-radius: 10px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    transition: 0.5s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 10;
    font-size: 33px;
    transition: background-color 0.3s;
}


.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}